.direction__image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 1439px) {
  .direction__image {
    right: -5%
  }
}

@media screen and (max-width: 767px) {
  .direction__image {
    display: none;
  }
}
