.step__number {
  color: #ffffff;
  margin: 30px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 1439px) {
  .step__number {
    color: #ffffff;
    margin: 10px 0 21px 33px;
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .step__number {
    color: #ffffff;
    margin: 22px 0 0 33px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }
}
