.header__logo {
  background-image: url(../../../images/logo_full.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
}

@media screen and (max-width: 1439px) {
  .header__logo {
    width: 166px;
    height: 42px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    background-image: url(../../../images/lobo_mobile.svg);
  }
}
