.section__background-image_top {
  top: 64px;
  left: 38%;
}

@media screen and (max-width: 1439px) {
  .section__background-image_top {
    top: 333px;
    left: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 767px) {
  .section__background-image_top {
    width: 143px;
    height: 143px;
    top: 0;
    left: 50%;
    z-index: -1;
  }
}
