.map__image {
  position: absolute;
  top: 0;
  background-image: url(../../../images/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 1439px) {
  .map__image {
    background-image: url(../../../images/Map\ \(2\).png);
  }
}

@media screen and (max-width: 767px) {
  .map__image {
    background-image: url(../../../images/background_map.png);
  }
}
