.tariff__business-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #132576;
  margin: auto 0 auto 21px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .tariff__business-text {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
  }
}


