.adress__contacts {
  width: 71%;
  margin: 55px auto 0 auto;
  display: flex;
}


@media screen and (max-width: 1439px) {
  .adress__contacts {
    width: 80%;
    margin: 70px auto 24px;
  }
}

@media screen and (max-width: 767px) {
  .adress__contacts {
    width: 84%;
    margin: 50px auto;
  }
}
