.button_direction {
  margin: 98px 0 0 0;
}

@media screen and (max-width: 1439px) {
  .button_direction {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .button_direction {
    left: 0;
  }
}
