.top-block {
  width: 100%;
  height: 80px;
}

.top-block_dark {
  background-color: #192144;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

.top-block_light {
  background-color: #edeff6;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

.top-block_yellow {
  background-color: #ffd74b;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

.top-block_white {
  position: absolute;
  bottom: 0;
  height: 47px;
  background-color: #ffffff;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
}

@media screen and (max-width: 767px) {
  .top-block {
   height: 40px;
  }
}
