@media screen and (max-width: 1439px) {
  .square_night {
    width: 141px;
    height: 141px;
    border-radius: 15px;
    margin-left: -33px;
  }
}

@media screen and (max-width: 767px) {
  .square_night {
    width: 113px;
    height: 132px;
  }
}
