.section__container {
  width: 91%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1439px) {
  .section__container {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .section__container {
    margin-top: -220px;
  }
}
