.section__tip {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  margin: 38px 0 0 0;
  padding: 0;
  max-width: 425px;
}

@media screen and (max-width: 1439px) {
  .section__tip {
    max-width: 265px;
    margin: 31px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .section__tip {
    max-width: 72%;
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 22px;
  }
}
