.background {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.background_active {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}
