.image__rank {
  position: absolute;
  top: 22px;
  left: 22px;
  z-index: 100;
}

.image__flags {
  max-width: 145px;
  margin: -15px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.image__flag {
  z-index: 100;
}

.image__name {
  margin: 19px 0 0 0;
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.image__hashtags {
  margin: 10px auto 0 auto;
  max-width: 223px;
  text-align: center;
  color: #444444;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.image__icons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 13px;
}

@media screen and (max-width: 767px) {
  .image {
    width: 270px;
    height: 270px;
  }

  .image__hashtags {
    font-size: 16px;
    line-height: 18px;
  }

  .image__name {
    font-size: 21px;
    line-height: 21px;
  }

  .image__icons {
    margin-top: 14px;
  }
}
