.step_1 {
  background-color: #ff8d30;
  width: 26%;
}

@media screen and (max-width: 1439px) {
  .step_1 {
    width: 100%;
    border-top-left-radius: 15px;
  }
}

@media screen and (max-width: 767px) {
  .step_1 {
    border-top-right-radius: 15px;
    margin-bottom: -80px;
  }
}
