.button {
  appearance: none;
  border: 0;
  width: 274px;
  height: 80px;
  border-radius: 15px;
  background-color: #ffd74b;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  transition: 0.5s;
}

.button:hover {
  background-color: #FFBD30;
  cursor: pointer;
  transition: 0.5s;
}
